@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
    margin: 0;padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.head{
    text-align: center;
    color: #ffffff;
    font-family: "Caveat", cursive;
    font-size: 55px;
    color: #63f800;

}

body{
    background: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
 font-size: 35px;
 color: #001e4d;
 font-weight: 600px;
 border-bottom: 1px solid black;
 padding-bottom: 30px;

}
.quiz{
padding: 20px auto;
}

.quiz h2{
    font-size: 20px;
    color: rgb(15, 15, 51);
    font-weight: 600;
    margin-top: 15px;
}

.btn{
    width: 100%;
    text-align: left;
    font-weight: 500;
    border: 1px solid #222;
    background-color:rgb(255, 255, 255) ;
    color: rgb(0, 1, 60);
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}


#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border:0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    display: none;
}

.correct{
    background-color: #0d7400;
}
.incorrect{
    background-color: rgb(149, 0, 0);
}